{% extends '_base.html' %}

{% load static %}

{% block content %}

<div class="columns is-centered">
    <div class="column is-half">
        <div class="columns" >
            <div class="column is-half">
                <a class="button is-fullwidth" href="{% url 'ticket_create' %}">Demander une critique</a>
            </div>
            <div class="column is-half">
                <a class="button is-fullwidth" href="">Créer une critique</a>
            </div>
        </div>
    </div>
</div>

<section class="columns is-centered">
    <div class="column">
    {% for post in posts %}

        {% if post.type == "ticket" %}
            {% include 'blog/__ticket.html' with ticket=post user=user %}
        {% else %}
            {% include 'blog/__review.html' with review=post user=user %}
        {% endif %}
    {% endfor %}
    </div>

</section>

{% endblock content %}


{% block script %}
<script type="text/javascript" src="{% static 'blog/js/stars.js' %}"></script>
{% endblock script %}