{% load static bulma_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}LITReview{% endblock %}</title>
  {% block css %}
    {% font_awesome %}
    <link rel="stylesheet" href="{% static 'bulma/css/style.min.css' %}">
  {% endblock css %}
</head>

<body>
    <div class="container">

        {% include 'nav.html' %}

        {% block messages %}
        {% endblock messages %}

        {% block content %}

        {% endblock content %}

    </div>


</body>

<footer>
    {% block footer %}

    {% endblock footer %}
</footer>