{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://user.oc-static.com/upload/2020/09/18/16004297044411_P7.png" />
    <title>{% block title %}LITReview{% endblock %}</title>
    {% block css %}
    <!-- bulma -->
    <link rel="stylesheet" href="{% static '/css/bulma.min.css' %}">
    <!-- css custom -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    {% endblock css %}
    <!-- material design icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body>
    <div class="container">

        {% include '__nav.html' %}

        {% block messages %}
        {% endblock messages %}

        {% block content %}

        {% endblock content %}

    </div>


</body>


<footer>
    {% block footer %}
    {% endblock footer %}
</footer>


<script>
    {% block script %}
    {% endblock script %}
</script>